/.idea/
/save.json
/scores.pdf
/scores.txt
/scores.xls
/logging.log
/out/artifacts/crossTheRoad_jar/logging.log
/out/artifacts/crossTheRoad_jar/save.json
/out/artifacts/crossTheRoad_jar/scores.pdf
/out/artifacts/crossTheRoad_jar/scores.txt
/out/artifacts/crossTheRoad_jar/scores.xls

/target
